[Unit]
Description=Telstra Smart Modem Internet Connection Status Monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/sh /home/aspittles/Projects/telstra-modem-status-checker/modem-monitor.sh
Restart=always
RestartSec=30
User=aspittles

[Install]
WantedBy=multi-user.target
